:root {
  --sidebar-width: 10vw;
}

* {
  /* border: 0; */
  margin: 0;
  /* padding: 0; */
  /* outline: 1px solid red; */
}

body {
  height: 100vh;
  background-color: rgb(212, 232, 238);
}

button {
  background-color: rgb(88, 75, 83);
  border-radius: 6px;
  box-shadow: none;
  color: rgb(255, 240, 124);
}

button:hover {
  background-color: rgb(59, 50, 56);
}

.mainContent {
  /* account for sidebar */
  margin-left: calc(var(--sidebar-width) + 12px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: var(--sidebar-width);
  height: 100vh;
  /* background-color: rgb(254, 74, 73); */
  background: linear-gradient(rgb(254, 74, 73), rgb(254, 113, 113));
}

.sidebar button {
  width: 80%;
  margin: 18px 0;
}

.sidebar button:last-child {
  margin-bottom: auto;
}

.newTodo {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border: 3px;
  margin: 5px 0;
  padding: 5px;
  margin-bottom: 25px;
}

.newTodo button {
  padding: 6px;
  height: 110%;
  border-radius: 6px;
}

.newTodo input {
  width: 80%;
  height: 100%;
  border-radius: 6px;
  background-color: rgb(234, 248, 252);
  margin-right: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: scale(0); */
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    /* transform: scale(1); */
    transform: translateY(0);
  }
}

.newTodo textarea {
  animation: fadeIn 0.3s ease-in;
  margin-top: 6px;
  resize: none;
}

.datePicker {
  margin-top: 12px;
  animation: fadeIn 0.3s ease-in;
}

.datePicker button {
  height: 10%;
}

.todoItem {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 5px;
  border-radius: 6px;
  border-color: rgb(182, 214, 224);
  border-style: solid;
  /* background-color: rgb(140, 204, 223); */
  background: linear-gradient(45deg, rgb(140, 204, 223), rgb(101, 197, 226));
  margin: 5px 0;
}

.todoItem.complete {
  color: grey;
}

.todoItem.complete h2 {
  text-decoration: line-through;
}

.todoHeader {
  display: flex;

}

.todoHeader h2 {
  margin-bottom: auto;
  margin-top: 6px;
  width: auto;
  overflow: hidden;
  /* Hide the overflowing text */
  text-overflow: ellipsis;
  /* Add the ellipsis (...) */
  white-space: nowrap;
  /* Prevent text from wrapping */
  flex-grow: 1;
  color: rgb(255, 240, 124);
}

/* .todoHeader #update {
  margin-left: auto;
} */

.todoHeader button {
  /* align-self: flex-end; */
  /* margin-left: auto; */
  margin-right: 5px;
  margin-bottom: auto;
  margin-top: 5px;
  height: 25px;
}

.DEBUG {
  position: fixed;
  bottom: 0;
  right: 0;
}